<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> FinanSESI </title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    
    <h1> Seja Bem-Vindo ao FinanSESI!! </h1>
    <h3> Aprendendo programação e finanças </h3>

    <!-- Corpo principal da página, onde os conteúdos serão inseridos -->
    <main class="card-container"> 
        <a href="/juros_simples">
        <article class="card">
            <h1 class="titulo-card"> Juros Simples </h1> 
            <img class="imagem-card" src="./img/juros_simples.png">
        </article>
    </a>

        <a href="/juros_compostos">
        <article class="card">
            <h1 class="titulo-card"> Juros Compostos </h1> 
            <img class="imagem-card" src="./img/juros_composto.png">
        </article>
    </a>
    </main>

