
    <h1> Projeto desenvolvido por </h1>
    <p class="nome-desenv"> Mariana Borba da Silva</p>
    <hr>
    <p> Esse projeto foi desenvolvido com o intuito de criar um sistema para aprendermos programação e finanças. 
        Assim, colocamos nossos aprendizados durante a aula de Matemática em prática
    </p>
    <hr>
    <strong> Desenvolvido em sala de aula em parceria SESI/SENAI </strong>
